# =========================================================
# IDE FILES
# =========================================================

.idea/
.vscode/

# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================================
# VIRTUAL ENVIRONMENTS
# =========================================================

.venv/
venv/
env/

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# ENVIRONMENT FILES
# =========================================================

.env

# =========================================================
# LOG FILES
# =========================================================

logs/*.log

# =========================================================
# RAW DATASETS
# =========================================================

data/raw/

# =========================================================
# MODEL ARTIFACTS
# =========================================================

*.joblib

# =========================================================
# OPERATING SYSTEM FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# STREAMLIT SECRETS
# =========================================================

.streamlit/secrets.toml

# =========================================================
# MONITORING REPORTS
# =========================================================

monitoring/drift_reports/

# =========================================================
# TEST CACHE
# =========================================================

.pytest_cache/

# =========================================================
# TEMP FILES
# =========================================================

*.tmp
*.temp